.main-card {
    margin-top: -600px;
    margin-left: 290px;
}



/* .main-card4 .card4 {
    background-color: #fff;
    height: 330px;
    justify-content: center;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 550px;
    border-radius: 15px;

} */
.divtitle {
    bottom: 530px;
    left: 280px;
    font-weight: 600;
    font-size: 25px;
}

.row {
    display: flex;
    grid-gap: 40px;

}

.card1 {
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 22px;
}

.card1 p {
    margin-top: -80px;
    font-size: 38px;
    font-weight: 600;
    position: relative;
    top: 50px;
}

.card1 p span {
    font-size: 13px;
    font-weight: normal;
    position: relative;
    bottom: 20px;

}

.card2 {
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 22px;
    height: 240px;
}


.card3 {
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 22px;
    height: 240px;
}

.tableau {
    position: relative;
    top: 60px;
}

@media (max-width:767px) {
    .row {
        display: none;
    }

    .tableau {
        position: relative;
        top: 600px;
        right: 260px;
        width: 50%;
    }

    .contenu{
        position: relative;
        right: 800px;
        top: 0px;
    }

    .btcontenu {
        margin-top: 30px;
    }
}

.select{
    width: 592px;
}

/* sponsor */

.sponsor-component {
    height: 100%;
    background-image: url("../images/image1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.sponsor-component .middle-section {
    padding-top: 5rem;
}

.middle-section .section-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-divider .trait-continu {
    width: 500px;
    height: 1px;
    background-color: #ffff;
    text-transform: capitalize;

}

.section-divider h1 {
    color: #fff;
    padding: 0px 20px
}


.cardContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.cardContainer .card-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    color: #0F3F62;
    box-shadow: 0px 0px 56px -17px #FCA13A;
}

.card-content p {
    font-size: 13px;
}